// Colors
$primaryColor: #320e3b;
$primaryColorDark: #001f3f;
$primaryLightColor: #e6f2ff; //d3e4f8

$colorWhite: #ffffff;
$colorBlack: #000000;
$colorRed: #ff4136;
$coloGray: #ddd;
$colorLightGray: #f9f9f9;
$colorMediumGray: #f0f0f0;
$colorDarkGray1: #333333;
$colorDarkGray2: #777777;
$colorDarkGray3: #999999;

$defaultTextColor: #363836;

// Font sizes
$defaultFontSize: 1.6rem;

// Container widths
$containerWidth: 114rem;

// Elements heights
$headerHeight: 7rem;

// Misc
$borderRadiusWidth: 0.6rem;
$defaultBoxShadow: 0 16px 40px rgba(154, 170, 206, 0.25);

// Fonts
$titleFont: "Montserrat", sans-serif;
$textFont: "Montserrat", sans-serif;

$base-font-size: 12px;
$title-font-size: 1.3em;

$primary-color-dark: #75aa03;
$primary-color: #7ab200;
$primary-color-light: transparent;
$primary-color-text: #ffffff;
$accent-color: #03a9f4;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$divider-color: #e4e4e4;
$today-bg-color: #fff9c4;

$divider-color: red;
